.ref-page{
  height: 100vh;
  background-color: #dcfce7;
  padding: 90px 24px 24px; /* top space for navbar */

}

.ref-not-started {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 14px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(34, 197, 94, 0.2);
  border: 1px solid #d1d5db;
  margin-top: 20px;
}

.ref-not-started h3 {
  margin: 0;
  color: var(--vy-green-dark);
  font-size: 18px;
  font-weight: 700;
}

.ref-not-started p {
  margin-top: 6px;
  font-size: 14px;
  color: var(--vy-text-muted);
}
